{% extends 'base.html' %}
{% block title %} Видалення маршруту {% endblock %}
{% block content %}
    <h1 class="display-4 text-center">Видалити маршрут {{ object.name }}</h1>
    <div class="row text-center">
        <div class="col-md-12 text-center">
           <form action="" method="post">
               {% csrf_token %}
                   <p>Ви впевненні, що хочете видалити: {{ object.name }} маршрут</p>
               <button type="submit" class="btn btn-outline-danger">Так, видалити</button>
               <a href="{% url 'routes_detail' pk=object.pk%}">
                    <button type="button" class="btn btn-outline-dark">Назад</button>
               </a>
           </form>

        </div>
    </div>

{% endblock %}